<style>

#all{
	height: 100%;
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: (0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

a.class1 {
    color: #9F9F9F;
}

.active {
	background-color: #8F8F8F;
	color: #0A0A0A;
}

.inactive {
    background-color: #7F7F7F;
    color: #0F0F0F;
}

.div1 {
    float: left;
    padding: 10px;
}

.p1 {
    font-size: 30;
}

#foot {
    position: fixed;
	bottom: 0;
	width: 100%;
	background-color: (0, 0, 0, 0);
	color: #9F9F9F;
	font-size: 12;
}

</style>